*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: grid;
    height: 100vh;
    place-items: center;
    background: linear-gradient(to right, #dfabc5 0%, #1da1f2 100%);
}

.container{
    background: #fff;
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    position: relative;
}

.container .logo img{
    width: 90px;
    height: 90px;
    position: absolute;
    left: 70%;
    top: 5px;
    border-radius: 50%;
    border: 5px solid #f7479f;
}

.container form .title{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.container form .title::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 33px;
    bottom: 2px;
    left: 0;
    border-radius: 5px;
    background: #1da1f2;
}

.container form .input-box{
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
}

.container form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 16px;
    border: none;
}

.container form .underline::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
}

.container form .underline::after{
    background: crimson;
    content: '';
    height: 2px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: .3s all ease;
}

.container form .input-box input:focus ~ .underline::after,
.container form .input-box input:valid ~ .underline::after{    
    transform: scaleX(1);
    transform-origin: left;
}   /*  ~  bu isaret iki kodu birlestirir. scaleX(1) ozelligi kapsayicisinin tumunu dolduracagini gosterir, 2 olsaydi iki katini doldururdu. Origin left ise donusumun basladigi yonu gosterir. valid ozelligi inputun sartini karsilama durumunu belirtir cunku htmlde inputlara required verdik.*/


.container form .button{
    margin: 40px 0 20px 0;
}

.container form .input-box input[type="submit"]{
    font-size: 17px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    background: crimson;
    transition: .3s all ease;
}

.container form .input-box input[type="submit"]:hover{
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.15);
    color: crimson;
    font-weight: bold;
    border-radius: 10px;
}

.container .text{
    font-size: 14px;
    text-align: center;
}

.container .github a, .container .X a,
.container .facebook a{
    display: block;
    width: 100%;
    height: 45px;
    text-decoration: none;
    font-size: 15px;
    padding-left: 20px;
    color: white;
    line-height: 45px;
    border-radius: 5px;
}

.container .github a{
    background: #24292e;
    margin: 20px 0 15px 0;
}

.container .github a:hover{
    background: #5c6975;
}

.container .X a{
    background: #000000;
    margin: 20px 0 15px 0;
}

.container .X a:hover{
    background: #3a3a3a;
}

.container .facebook a{
    background-color: #4267b2;
    margin: 20px 0 50px 0;
}

.container .facebook a:hover{
    background: #5b8df3;
}

.container .github i,
.container .X i,
.container .facebook i{
    font-size: 22px;
    padding-right: 22px;
}